.timeline-card {
  background: white;
  box-shadow: 0px 1px 21px 0px rgba(0,0,0,0.07);
  margin-bottom: 3rem;
  position: relative;
  z-index: 2;

  .card-title {
    text-align: center;
    background: $dark-background;
    color: white;
    font-weight: lighter;
    padding: 1rem 0rem;

    h2 {
      color: white;
      margin-bottom: .3rem;
    }
  }

  .card-body {
    display: grid;
    grid-template-columns: 3fr 10fr;
    padding: 1.5rem 2rem;
    grid-gap: 1rem;
    .desc {
      display: flex;
      align-items: center;
      color: $grey;
      font-weight: lighter;
    }
  }
  .card-bottom {
    background-color: transparent;
    border-top: 1px solid #dbdbdb;
    justify-content: space-between;
    display: flex;
    color: $grey;
    padding: 1rem 2rem;

    a {
      color: $grey;
      transition: color 86ms ease-in;
    }

    a:hover {
      color: $primary-color;
      transition: color 86ms ease-in;
      .fas, .far {
        color: $secondary-color;
        transition: color 86ms ease-in;
      }
    }

    .fas, .far {
      padding-right: .2rem;
      transition: color 86ms ease-in;
      color: $primary-color;
    }
  }
}

.vertical-line {
  background-color: #f5f5f5;
  display: block;
  transform: rotate(90deg);
  margin: 0;
  &:last-child {
    display: none;
  }
  @include desktop {
    margin-left: 34%;
    width: 29%;
  }
}

.bottom-menu {
  background: white;
  padding: 1.5rem;
  position: sticky;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  border-top: 1px solid #98A5BB;

  a {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
    }
  }
}

.metadata {
  padding: .5rem 3rem;
  display: flex;
  justify-content: space-between;
  color: $grey;
  .far {
    color: $primary-color;
  }
}

.post-content {
  background: white;
  box-shadow: 0px 1px 21px 0px rgba(0,0,0,0.07);
  margin-bottom: 2rem;
  padding: 2rem 3rem;

  a {
    color: $primary-color;
    &:hover {
      color: $secondary-color;
      transition: color 85ms ease-in;
    }
  }
}

.project-list {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr;
  @include desktop {
    grid-template-columns: repeat(2, 1fr);
  }
}

.card-image {
  background-color: $dark-background;
}

.project-header {
  text-align: center;
  background: $dark-background;
  color: white;
  font-weight: lighter;

  padding: 1rem .5rem;

  h2 {
    color: white;
    margin-bottom: .3rem;
  }
}

.book-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  @include desktop {
    grid-template-columns: repeat(3, 1fr);
  }
}

.align-left {
  text-align: left;
  padding-left: 1rem;
}