.sidebar {
  grid-area: sidebar;
  color: white;
  background: $dark-background;
  padding-bottom: 100%;

  .fab, .far, .fas {
    padding-right: .5rem;
  }

  a {
    color: white;
  }

  .avatar {
    padding: 2.5rem 3rem;
    background: $purple;
  }

  .social {
    background: $turquoise;
    padding: 1.5rem 3rem 1rem;
    .fab, .far, .fas{
      &:hover {
        color: $purple;
        transition: color 85ms ease-in;
      }
    }
  }

  .menu {
    padding: 2rem 3rem;
    background-color: $lighter-background;

    .far, .fas {
      color: $turquoise;
    }

    a:hover {
      background-color: $turquoise;
      .far, .fas {
        color: white;
      }
    }
  }
}

.right-sidebar {
  grid-area: sidebar2;
}