@charset "utf-8";

@mixin desktop {
  @media(min-width: #{$desktop-size}) {
    @content
  }
};

$desktop-size: 924px;

$primary-color: #33DABD;
$secondary-color: #8067B6;

$dark-background: #3F4A59;
$lighter-background: #455160;
$grey: #98A5BB;
$light: #F3F5F6;

body {
  background: $light;
  color: #3F4A59;
  @include desktop {
    display: grid;
    grid-template-areas: "sidebar content sidebar2" !important;
    grid-template-columns: 1.5fr 4fr 1.5fr !important;
  }
}

.is-round {
  border-radius: 50%;

}

.content{
  margin: 0;
  padding-top: 3rem;
  @include desktop {
    margin: 2rem;
    grid-area: content;
    padding: 0;
    min-width: 0;
  }
}

.large{
  font-size: xx-large;
  font-weight: bold;
}

.center-author{
  text-align: center;
}

.transparent {
  border: 0;
  color: $primary-color;
  &:hover {
    color: $secondary-color;
  }
}

.light-text {
  color: $grey;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.no-style {
  list-style: none;
}

@import
  "_sass/_layout.scss",
  "_sass/_calendar.scss",
  "_sass/_sidebar.scss",
  "_sass/syntax-highlighting";
