body {
  background: #F3F5F6;
  color: #3F4A59;
}

@media (min-width: 924px) {
  body {
    display: -ms-grid;
    display: grid;
        grid-template-areas: "sidebar content sidebar2" !important;
    -ms-grid-columns: 1.5fr 4fr 1.5fr !important;
        grid-template-columns: 1.5fr 4fr 1.5fr !important;
  }
}

.is-round {
  border-radius: 50%;
}

.content {
  margin: 0;
  padding-top: 3rem;
}

@media (min-width: 924px) {
  .content {
    margin: 2rem;
    grid-area: content;
    padding: 0;
    min-width: 0;
  }
}

.large {
  font-size: xx-large;
  font-weight: bold;
}

.transparent {
  border: 0;
  color: #33DABD;
}

.transparent:hover {
  color: #8067B6;
}

.light-text {
  color: #98A5BB;
}

.primary-color {
  color: #33DABD;
}

.secondary-color {
  color: #8067B6;
}

.no-style {
  list-style: none;
}

.timeline-card {
  background: white;
  -webkit-box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.07);
  margin-bottom: 3rem;
  position: relative;
  z-index: 2;
}

.timeline-card .card-title {
  text-align: center;
  background: #3F4A59;
  color: white;
  font-weight: lighter;
  padding: 1rem 0rem;
}

.timeline-card .card-title h2 {
  color: white;
  margin-bottom: .3rem;
}

.timeline-card .card-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 10fr;
      grid-template-columns: 3fr 10fr;
  padding: 1.5rem 2rem;
  grid-gap: 1rem;
}

.timeline-card .card-body .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #98A5BB;
  font-weight: lighter;
}

.timeline-card .card-bottom {
  background-color: transparent;
  border-top: 1px solid #dbdbdb;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #98A5BB;
  padding: 1rem 2rem;
}

.timeline-card .card-bottom a {
  color: #98A5BB;
  -webkit-transition: color 86ms ease-in;
  transition: color 86ms ease-in;
}

.timeline-card .card-bottom a:hover {
  color: #33DABD;
  -webkit-transition: color 86ms ease-in;
  transition: color 86ms ease-in;
}

.timeline-card .card-bottom a:hover .fas, .timeline-card .card-bottom a:hover .far {
  color: #8067B6;
  -webkit-transition: color 86ms ease-in;
  transition: color 86ms ease-in;
}

.timeline-card .card-bottom .fas, .timeline-card .card-bottom .far {
  padding-right: .2rem;
  -webkit-transition: color 86ms ease-in;
  transition: color 86ms ease-in;
  color: #33DABD;
}

.vertical-line {
  background-color: #f5f5f5;
  display: block;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin: 0;
}

.vertical-line:last-child {
  display: none;
}

.bottom-menu {
  background: white;
  padding: 1.5rem;
  position: -webkit-sticky;
  position: sticky;
  z-index: 20;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
  border-top: 1px solid #98A5BB;
}

.bottom-menu a {
  color: #33DABD;
}

.bottom-menu a:hover {
  color: #8067B6;
}

.metadata {
  padding: .5rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #98A5BB;
}

.metadata .far {
  color: #33DABD;
}

.post-content {
  background: white;
  -webkit-box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.07);
  margin-bottom: 2rem;
  padding: 2rem 3rem;
}

.post-content a {
  color: #33DABD;
}

.post-content a:hover {
  color: #8067B6;
  -webkit-transition: color 85ms ease-in;
  transition: color 85ms ease-in;
}

.project-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media (min-width: 924px) {
  .project-list {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

.card-image {
  background-color: #3F4A59;
}

.project-header {
  text-align: center;
  background: #3F4A59;
  color: white;
  font-weight: lighter;
  padding: 1rem .5rem;
}

.project-header h2 {
  color: white;
  margin-bottom: .3rem;
}

.book-list {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 924px) {
  .book-list {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.align-left {
  text-align: left;
  padding-left: 1rem;
}

#calendar {
  background: #3F4A59;
  padding: 0.5rem 1.5rem;
  position: relative;
  -webkit-box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.07);
}

#calendar .graph-rect {
  fill: #3F4A59;
}

#calendar .subdomain-text {
  font-size: medium;
  pointer-events: none;
  font-family: 'Roboto', sans-serif;
  fill: #F3F5F6;
}

#calendar .graph-label {
  font-family: 'Roboto', sans-serif;
  fill: white;
  font-size: medium;
  font-weight: bold;
}

#calendar .q1, #calendar .q2,
#calendar .q3, #calendar .q4, #calendar .q5 {
  fill: #33DABD;
}

#calendar a {
  color: #98A5BB;
}

#calendar #cal-heatmap-PreviousDomain-selector {
  position: absolute;
  top: 1.2rem;
  z-index: 10;
}

#calendar #cal-heatmap-NextDomain-selector {
  position: absolute;
  right: 2rem;
  top: 1.2rem;
  z-index: 10;
}

.sidebar {
  grid-area: sidebar;
  color: white;
  background: #3F4A59;
  padding-bottom: 100%;
}

.sidebar .fab, .sidebar .far, .sidebar .fas {
  padding-right: .5rem;
}

.sidebar a {
  color: white;
}

.sidebar .avatar {
  padding: 2.5rem 3rem;
  background: #8067B6;
}

.sidebar .social {
  background: #33DABD;
  padding: 1.5rem 3rem 1rem;
}

.sidebar .social .fab:hover, .sidebar .social .far:hover, .sidebar .social .fas:hover {
  color: #8067B6;
  -webkit-transition: color 85ms ease-in;
  transition: color 85ms ease-in;
}

.sidebar .menu {
  padding: 2rem 3rem;
  background-color: #455160;
}

.sidebar .menu .far, .sidebar .menu .fas {
  color: #33DABD;
}

.sidebar .menu a:hover {
  background-color: #33DABD;
}

.sidebar .menu a:hover .far, .sidebar .menu a:hover .fas {
  color: white;
}

.right-sidebar {
  grid-area: sidebar2;
  margin-top: 2rem;
}

@media (min-width: 924px) {
  .right-sidebar {
    margin-right: 1rem;
  }
}

.right-sidebar .sidebar-title {
  font-size: large;
  font-weight: bold;
  text-align: center;
  padding-bottom: 1rem;
}

.right-sidebar .sidebar-section {
  margin-top: 2rem;
  background-color: white;
  -webkit-box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 1px 21px 0px rgba(0, 0, 0, 0.07);
  padding: 1rem;
  text-align: center;
}

.right-sidebar .tag {
  background-color: #33DABD;
}

.right-sidebar .posts a {
  color: #3F4A59;
}

.right-sidebar .posts a:hover {
  color: #33DABD;
}

.right-sidebar .posts .fas {
  color: #33DABD;
}
/*# sourceMappingURL=style.css.map */